<div class="container">
  <div class="col-sm-12 mx-auto">
    <h3><%= image_tag 'comment.png' %>コメント編集</h3>

<%#　部分テンプレートにする　#%>
    <div class = "col-8 mx-auto">

      <div class = "row justify-content-end">
        <%= @comment.created_at.strftime('%Y/%m/%d') %>
      </div>

      <div class = "row">
        <div class = "col-2">
          <%#= posts.get_image %>
        </div>
        <div class = "col-10">
          <div class = "row">
            <% if @comment.user.status == false %>
              <p class="text-danger">退会済みです</p>
            <% else %>
              <%= link_to edit_admin_user_path(@comment.user_id) do %>
                <%= @comment.user.nickname %>
              <% end %>さん
            <% end %>
          </div>
          <div class = "row">
            DIY歴　<%= @comment.user.diy_history_i18n %>
          </div>
        </div>
      </div>

      <div class = "row">
        <%= @comment.comment_text %>
      </div>

      <div class = "row justify-content-end">
        <%= link_to "<<投稿詳細に戻る",post_path(@comment.post_id), class:"text-secondary" %>
      </div>
    </div>
<%#　部分テンプレートにする　#%>

    <div class = "col-8 mx-auto">
      <div class = "row justify-content-center">
        <p><strong>不適切コメントの警告表示</strong></p>
        <%= form_with model: @comment, url: admin_comment_path do |f| %>
          <%= f.radio_button :is_hidden, true %>
          <%= f.label :done, '表示', value: false, class:"text-danger" %>

          <%= f.radio_button :is_hidden, false %>
          <%= f.label :done, '非表示', value: false, class:"text-success" %>

          <%= f.submit "更新" ,class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
