<%= form_with model: @post, url: post_path, local: true do |f| %>

  <div class="container mt-3">
    <p class="text-danger"><%= flash[:alret] %></p>
    <div class="col-sm-12 form-label mx-auto">
      <h3 class = "title"><span><%= @post.user.nickname %>さんの投稿編集</span></h3>

      <%# 以下部分テンプレートにする %>
      <%= render :partial => "post_form", :locals => {:f => f, post_tags: @post_tags} %>

        <%# ここまで部分テンプレートにする %>

      <div class="actions">
        <div class="col-9">
          <div class="row justify-content-end">
            <%#= f.hidden_field :user_id %>
            <%= f.submit "更新" ,class:'btn btn-primary' %>
            <%= link_to "削除", posts_soft_destroy_path, method: :patch, class:'btn btn-danger ml-3' %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>