<div class="container">
  <div class="col-sm-12 mx-auto">
    <div class = "row">
      <div class = "col-5 mx-auto">
        <div class = "row">
          <div class = "col-5">
            <h3><%= image_tag 'post.png', width: '25%' %>投稿詳細</h3>
          </div>
          <div class = "col-4 ml-auto">
            <% if @post.favorited_by?(current_user) %> <%# いいね済みかの判定 %>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                <button type="button" class="btn btn-primary text-white">いいね<%= image_tag 'favorite.svg', width: '30%', height: '30%' %></button>
              <% end %>
              <% else %>
              <%= link_to post_favorites_path(@post), method: :post do %>
                <button type="button" class="btn btn-secondary">いいね<%= image_tag 'favorite.svg', width: '30%', height: '30%' %></button>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class = "container">
          <div class = "row justify-content-end">
            <%= @post.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class = "row">
            <div class = "col-7">
              <%= image_tag @post.get_post_image(200,200) %>
            </div>
            <div class = "col-5">
              <h5>投稿者</h5>
              <% if @post.user.status == false %>
                <p class="text-danger">退会済み</p>
              <% else %>
                <%= link_to user_path(@post.user_id) do %>
                  <%= @post.user.nickname %>
                <% end %>さん
              <% end %>
            </div>
          </div>
          <h5>タイトル</h5>
          <%= @post.title %>
          <h5>本文</h5>
          <%= Rinku.auto_link(@post.post_text, :all, 'target="_blank"').html_safe %>

          <div class = "row">
            <%= image_tag 'tag.png', width: '5%', height: '5%' %><span> 関連タグ </span>
            <% if @post_tags.present? %>
              <% @post_tags.each do |post_tag| %>
                <%= post_tag.name %>
              <% end %>
            <% else %>
              "登録されているタグはありません"
            <% end %>
          </div>

        </div>
        <div class = "row justify-content-end">
          <% if @post.user_id == current_user.id %>
            <%= link_to "編集", edit_post_path, class: 'btn btn-success mr-0' %>
          <% end %>
        </div>
      </div>

      <div class = "col-5 form-label mx-auto">
        <h3><%= image_tag 'comment.png', width: '10%', height: '10%' %>コメント</h3>

        <% if @comments.blank? %>
          <p class = "text-secondary">こちらの投稿に関するコメントはまだございません。</p>
        <% else %>
          <% @comments.each do |comment| %>
            <div class = "container">
              <div class = "row justify-content-end">
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class = "row">
                <div class = "col-3">
                  <div class = "row"><%= image_tag comment.user.get_profile_image %></div>
                  <div class = "row">
                    <% if comment.user.status == false %>
                      <p class="text-danger">退会済み</p>
                    <% else %>
                      <%= comment.user.nickname %>さん
                    <% end %>
                  </div>
                </div>
                <div class = "col-9">
                  <% if comment.is_hidden == true %>
                    <% comment.hidden %>
                    <span class = "text-danger"><%= comment.comment_text.truncate(15) %></span>
                  <% else %>
                    <%= comment.comment_text.truncate(15) %>
                    <div class = "row justify-content-end">
                      <%= link_to "コメント詳細>>", comment_path(comment.id), class:"text-secondary" %>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          <% end %>

        <% end %>

        <% if @count >= 4 %>
          <div class="row justify-content-end">
            <%= link_to "もっと見る >>", comments_path(:post_id => @post.id) %>
          </div>
        <% end %>

        <%= form_with model: @comment, url: comments_path do |f| %>
          <%= f.text_area :comment_text, placeholder:"この投稿に対してコメントする", class: "form-control", style: "width:100%", rows: "3" %>
          <div class = "row justify-content-end">
            <%= f.hidden_field :post_id, :value => @post.id %>
            <%= f.submit "コメントする" ,class:'btn btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>

