<div class="container mt-3">
  <div class="col-sm-12 mx-auto">
    <h3 class = "title"><span><%= image_tag 'comment.png' %>コメント編集</span></h3>

    <div class = "col-6 mx-auto">
      <%= form_with model: @comment, url: comment_path, local: true do |f| %>
        <%= f.text_area :comment_text, class: "form-control", style: "width:100%", rows: "10" %>

        <div class = "col-12">
          <div class="row justify-content-end mt-3">
            <%= f.submit "更新" ,class:'btn btn-primary mr-3' %>
            <%= link_to "削除", comments_soft_destroy_path, method: :patch, class:'btn btn-danger' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
