<div class="container mt-3">
  <div class="col-sm-12 mx-auto">
    <h3 class = "title"><span><%= image_tag 'comment.png' %>コメント詳細</span></h3>

    <div class = "col-10 mx-auto post-area shadow color-reflection">

      <div class = "row justify-content-end">
        <%= @comment.created_at.strftime('%Y/%m/%d') %>
      </div>

      <div class = "row">
        <div class = "col-3 mx-auto">
          <%= image_tag @comment.user.get_profile_image(100,100) %>
        </div>
        <div class = "col-8">
          <div class = "row">
            <% if @comment.user.status == false %>
              <p class="text-danger">退会済みです</p>
            <% else %>
              <%= link_to user_path(@comment.user_id) do %>
                <%= @comment.user.nickname %>
              <% end %>さん
            <% end %>
          </div>
          <div class = "row">
            DIY歴　<%= @comment.user.diy_history_i18n %>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class = "col-11 mx-auto">
          <%= safe_join(@comment.comment_text.split("\n"),tag(:br)) %>
        </div>
        </div>

        <div class = "row justify-content-end">
          <%= link_to "<<投稿詳細に戻る",post_path(@comment.post_id), class:"text-secondary" %>
        </div>
      </div>
  </div>

  <div class = "col-10 mx-auto">
    <div class = "row justify-content-end">
      <% if @comment.user_id == current_user.id %>
        <%= link_to "編集する", edit_comment_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
