<div class="container mt-3">
  <div class="col-sm-12 mx-auto">
    <h3 class = "title"><span><%= image_tag 'users.svg' %>ユーザ情報編集</span></h3>

    <div class = "col-10 mx-auto">
      <div class="row">
        <div class="col-3">
          <div class = "row">
            <%= image_tag @user.get_profile_image(200,200) %>
          </div>

        </div>

        <div class="col-8">
          <table class="table table-bordered w-100">
            <tr>
              <th class="col-3 table-secondary">ニックネーム</th>
              <td class="col-7"><%= @user.nickname %></td>
            </tr>

            <tr>
              <th class="col-3 table-secondary">会員指名</th>
              <td class="col-7"><%= @user.last_name %>　<%= @user.first_name %></td>
            </tr>

            <tr>
              <th class="col-3 table-secondary">e-mail</th>
              <td class="col-7"><%= @user.email %></td>
            </tr>

            <tr>
              <th class="col-3 table-secondary">DIY歴</th>
              <td class="col-7"><%= @user.diy_history_i18n %></td>
            </tr>

            <tr>
              <th class="col-3 table-secondary">紹介文</th>
              <td class="col-7"><%= raw safe_join(@user.introduction.split("\n"),tag(:br)) %></td>
            </tr>

          </table>

          <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>

            <div class="row justify-content-center">
              <label class="col-3">ステータス</label>
              <div class="col-7">
                <div>
                  <%= f.radio_button :status, true %>
                  <%= f.label :done, '有効', value: false, class:"text-success" %>

                  <%= f.radio_button :status, false %>
                  <%= f.label :done, '無効', value: false, class:"text-danger" %>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-3">
                <%= f.submit "更新" ,class:'btn btn-primary w-100' %>
              </div>
            </div>

          <% end %>

        </div>

