<div class="container">
  <div class="col-sm-12 mx-auto">
    <h3><%= @user.nickname %>さんの投稿一覧</h3>

    <div class = "col-8 mx-auto">
      <% @posts.each do |posts| %>
        <div class = "row">
          <%= link_to post_path(posts.id) do %>
            <%= posts.title %>
          <% end %>

        </div>
        <div class = "row">
          <div class = "col-2">
            <%#= posts.image_tag %>
          </div>
          <div class = "col-10">
            <%= posts.post_text.truncate(30) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row justify-content-center"><%= paginate @posts %></div>

  </div>
</div>
