<div class="container">
  <div class="col-sm-12 mx-auto">
    <% if @user == current_user %> <%# 自身のページか判定 %>
      <h3><%= @user.nickname %>さんのマイページ</h3>
    <% else %>
      <h3><%= @user.nickname %>さんのページ</h3>
    <% end %>

    <div class = "row">
      <div class = "col-3">
        <%= image_tag @user.get_profile_image(100,100) %>
        <div class = "row">
          <label class = "form-label">ニックネーム</label>
            <%= @user.nickname %>
        </div>

        <div class = "row">
          <label>DIY歴</label>
          <%= @user.diy_history_i18n %>
        </div>

        <div class = "row">
          <label>紹介文</label>
          <%= @user.introduction %>
        </div>

        <%= link_to " 編集 ", edit_user_path, class: 'btn btn-success float-right' %>

      </div>

      <div class = "col-4">
        <h5><%= image_tag 'post.png', width: '10%' %>投稿一覧</h5>

        <% @posts.each do |posts| %>

          <div class = "row">
            <% if posts.is_hidden == true %>　<%# 不適切投稿の表示切り替え %>
              <% posts.hidden %>
              <div class = "row">
                <div class = "col-3">
                  <%= image_tag 'error_rogo.svg', size: '50x50' %>
                </div>
                <div class = "col-9">
                  <div class = "row"><span class = "text-danger"><%= posts.title %></span></div>
                  <div class = "row"><span class = "text-secondary"><%= posts.post_text.truncate(10) %></span></div>
                </div>
              </div>
            <% else %>
              <div class = "col-3">
                <%= image_tag posts.get_post_image(50, 50) %>
              </div>
              <div class = "col-9">
                <div class = "row">
                  <%= link_to post_path(posts.id) do %>
                    <%= posts.title %>
                  <% end %>
                </div>
                <div class = "row"><%= posts.post_text.truncate(10) %></div>
              </div>
            <% end %>
          </div>


        <% end %>

        <% if @post_count >= 4 %>
          <div class="row justify-content-end">
            <%= link_to "もっと見る >>", user_posts_path(@user) %>
          </div>
        <% end %>
        <div class = "row justify-content-center">
          <%= link_to "新規投稿", new_post_path, class:'btn btn-primary' %>
        </div>


      </div>

      <div class = "col-4">
        <h5><%= image_tag 'favorite.svg', width: '10%' %>いいね(ブックマーク)一覧</h5>
        <% @favorites.each do |favorites| %>
          <div class = "row">
            <div class = "col-3">
              <%= image_tag favorites.post.get_post_image(50,50) %>
            </div>
            <div class = "col-9">
              <div class = "row">
                <%= link_to post_path(favorites.post.id) do %>
                  <%= favorites.post.title %>
                <% end %>
              </div>
              <div class = "row"><%= favorites.post.post_text.truncate(10) %></div>
            </div>
          </div>
        <% end %>

        <% if @favorite_count >= 4 %>
          <div class="row justify-content-end">
            <%= link_to "もっと見る >>", favorites_post_path(@user) %>
          </div>
        <% end %>

      </div>
    </div>


  </div>
</div>
