<!DOCTYPE html>
<html>
  <head>
    <title>K's workshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- リセットcss sanitize.css  -->
    <link rel="stylesheet" href="https://cdn.skypack.dev/sanitize.css">


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="row col-12">
            <div class="col-5 my-auto">
              <div class="logo-box">
                <%= link_to root_path do %>
                  <%= image_tag 'logo2.png' %>
                <% end %>
              </div>
            </div>
            <div class="col-7">
              <div class="row justify-content-end">
                <div class="navbar-nav">
                  <ul class="btn-group">
                    <% if admin_signed_in? %>
                      <%= link_to admin_posts_path do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'post.png' %>投稿一覧</button>
                      <% end %>

                      <%= link_to admin_users_path do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'users.svg' %>ユーザ一覧</button>
                      <% end %>

                      <%= link_to "/admin/sign_out", method: :delete do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'logout.svg' %>ログアウト</button>
                      <% end %>

                    <% elsif user_signed_in? %>
                      <%= link_to "/posts" do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'post.png' %>投稿一覧</button>
                      <% end %>

                      <%= link_to user_path(current_user) do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'mypage.svg' %>マイページ</button>
                      <% end %>

                      <%= link_to "/users/sign_out", method: :delete do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'logout.svg' %>ログアウト</button>
                      <% end %>

                    <% else %>
                      <%= link_to "/posts" do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'post.png' %>投稿一覧</button>
                      <% end %>

                      <%= link_to "/users/sign_up" do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'beginner.svg' %>新規登録</button>
                      <% end %>

                      <%= link_to "/users/sign_in" do %>
                        <button type="button" class="btn btn-outline-secondary"><%= image_tag 'login.svg' %>ログイン</button>
                      <% end %>

                    <% end %>
                  </ul>
                </div>
              </div>

              <div class="row justify-content-end search_form">
                  <%= search_form_for @search, url: posts_path, local: true do |f| %>
                    <%= f.text_field :title_or_post_text_or_post_tags_name_cont, class:'search', placeholder:"キーワードまたはタグを検索" %>
                    <%= f.button :type => "submit", class:'form-button' do %>
                      <i class="fas fa-search"></i>
                    <% end %>
                  <% end %>
              </div>


            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container content-box">
        <div class="row">
          <div class="col-4">
            <p>初心者DIYer達のコミュニティサイト</p>
            <div><%= image_tag 'logo1.png' %></div>
          </div>
          <div class="col-3 ml-auto mt-auto">
            <p>&copy; 2023 KOSUKE FUJINO</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
